<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqh.dakajizhang.mapper.DakaRuleItemsMapper" >

  <select id="findByUid" resultType="com.zqh.dakajizhang.pojo.DakaRuleItems">
    select
      *
    from tb_daka_rule_items b
           left join tb_daka_rule a
                     on a.id=b.daka_rule_id
    where a.user_id = #{uid} and a.enabled = TRUE

  </select>

    <select id="findByGzzId" resultType="com.zqh.dakajizhang.pojo.DakaRuleItems">
        select
            *
        from tb_daka_rule_items a
        where a.daka_rule_id = #{id} and a.enabled = TRUE
        order by a.start_time asc

    </select>

</mapper>